<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marta - Tejidos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    

    <div class="container">

            <!-- Logo -->
            <div class="logo">
                <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Marta Tejidos Logo">
            </div>
        <h1>Bienvenido a Marta Tejidos</h1>
        <p>Explora nuestras redes:</p>
        <div class="links">
            {% for link in links %}
            <a href="{{ link.url }}" target="_blank" class="link">
                <img 
                    src="{{ url_for('static', filename='images/' + link.name.lower() + '.png') }}" 
                    alt="{{ link.name }} icon" 
                    class="icon"
                >
                {{ link.name }}
            </a>
            {% endfor %}
        </div>
    </div>
</body>
</html>

